body{
    margin: 0px;
    padding: opx;
    background-image: url('./img/fitt.jpg');
    background-size: 100%;
    color: wheat;
    font-family: 'Ubuntu', sans-serif;
}
.left{
    /* border: 2px solid crimson; */
    display: inline-block;
    left: 43px;
    top: 4px;
    position: absolute;
    width: 12%;
}
.left img{
    width: 53px;
    height: 55px;
    
}
.left div{
    color: rgb(250, 3, 3);
    font-size: 30px;
    line-height: 19px;
    text-align: left;
}
.mid{
    /* border: 2px solid yellow; */
    display: block;
    width: 50%;
    margin: 30px auto;

}

.right{
    /* border: 2px solid green; */
    display: inline-block;
    right: 19px;
    top: 45px;
    position: absolute;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 32px 23px;
    font-size: 20px;
}
.navbar li a:hover, .navbar li a.active{
    color: crimson;
    font-size: 20px;
}
.btn{
    margin: 1px 10px;
    color: white;
    background-color: rgb(202, 72, 12);
    padding: 3px 14px;
    border: 2px solid rgba(0, 0, 0, 0.698);
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}
.btn:hover{
    background-color: crimson;
}
.container{
    border: 2px solid rgb(187, 199, 187);
    margin: 36px 7px;
    padding: 30px;
    width: 30%;
    border-radius: 23px;
}
.form-group input{
    text-align: center;
    display: block;
    width: 448px;
    padding: 6px;
    /* border: 4px solid rgb(15, 5, 5); */
    margin: 7px auto;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    background: transparent;
    color: white;
}
.form-group input::placeholder{
    color: white;
    font-size: 15px;
    font-weight: 200;
    font-style: normal;
    font-family: 'Ubuntu', sans-serif;
}
.container h2{
    text-align: center;
    color: rgb(251, 251, 251);
    letter-spacing: 5.2px;
    font-family: 'Ubuntu', sans-serif;
}
.container .btn{
    display: block;
    width: 75%;
    height: 40px;
    margin: 20px auto;
}